@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Zen Antique Soft', serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 70px;
    background: rgb(255, 166, 0);
    z-index:99;
}
nav .menubar{
    max-width:1250px;
    height:100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    padding:0 50px;
}
nav .menubar .navigation{
    height:100%;
    line-height:70px;
}
nav .menubar .links{
    display:flex;
}
nav .menubar .links li{
    position: relative;
    display:flex;
    align-items:center;
    justify-content:space-between;
    list-style: none;
    padding:0 14px
}

nav .menubar .links li a{
    text-decoration:none;
    font-size:25px;
    border:2px solid transparent;
    color: white;
}

nav .menubar .links li i{
    font-size:25px;
}
.logo a{
    text-decoration: none;
    font-size:30px;
    font-weight:bold;

}
.logo i{
    font-size:30px;
}


.links li .profile-sub-menu{
    position:absolute;
    top:70px;
    left:0;
    line-height:40px;
    background-color:rgb(195, 195, 195);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius:0 0 4px 4px;
    border:3px solid rgb(66, 65, 65);
    display:none;
    z-index:100;
}

nav .navigation .links li:hover .profile-sub-menu{
    display:inline-block;
}
nav .navigation .links li:hover .prof{
    background-color:rgb(180, 121, 12);
}


.links li .recipe-sub-menu{
    position:absolute;
    top:70px;
    left:0;
    line-height:40px;
    background-color:rgb(195, 195, 195);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius:0 0 4px 4px;
    border:3px solid rgb(66, 65, 65);
    display:none;
    z-index:100;
}
.recipe-sub-menu{
    font-style: italic;
}

.links li:hover .recipe-sub-menu{
    display:block;
}


.links li:hover{
    color:#fff;
    background-color:rgb(180, 121, 12);
}

#container{
    display:flex;
    flex-wrap: wrap;
    padding:20px;
}

.panel{
    background-color:teal;
    padding:10px;
    color:#fff;
    font-size:50px;
    display:flex;
    width:100%;
    height:250px;
    align-items:center;
    font-style: italic;
    border:2px solid grey;
}
body{
    background-image:url("food.jpg");
    background-color:black;
}

.Recipe{
    transition: transform .2s;
}
.Recipe:hover{
    transform: scale(1.01);
}

.btn{
    display:flex;
    text-align:center;
    width: 90%;
    border: 1 px solid black;
    background: transparent;
    transition: transform .2s;
    margin-left:15px;
    padding:1px;
}
.btn:hover{
    background:red;
    color:white;
    transform: scale(1.03);
}

.recipe{
    background-color: aliceblue;
}